<div class="analysis_chart">
  <img
    class="analysisChart-img"
    src="../static/photos/cyber_attack_actor_types.png"
    alt="Wykres"
  />

  <div class="analysis-content">
    <h3>Aktorzy Cyberataków</h3>
    <p>
      Wykres przedstawia procentowy udział różnych grup odpowiedzialnych za
      cyberataki. Oto szczegółowe wnioski:
    </p>
    <ul>
      <li>
        <h4>Przestępcy – 76.0%</h4>
        <p>
          Większość cyberataków (76%) jest przeprowadzana przez przestępców, co
          sugeruje, że głównym motywem jest zysk finansowy. Przestępcy mogą
          angażować się w działania takie jak ransomware, kradzież danych czy
          oszustwa internetowe.
        </p>
      </li>
      <li>
        <h4>Haktywiści – 13.9%</h4>
        <p>
          Haktywiści, którzy często działają z powodów ideologicznych lub
          politycznych, stanowią 13.9% ataków. Ich celem może być zwrócenie
          uwagi na konkretne problemy społeczne lub polityczne.
        </p>
      </li>
      <li>
        <h4>Aktorzy Państwowi – 5.5%</h4>
        <p>
          Aktorzy państwowi, reprezentujący interesy swoich krajów, odpowiadają
          za 5.5% cyberataków. Ich działania mogą obejmować szpiegostwo, sabotaż
          czy destabilizację polityczną.
        </p>
      </li>
      <li>
        <h4>Hobbyści – 1.4%</h4>
        <p>
          Hobbyści, którzy mogą angażować się w cyberataki dla zabawy lub
          wyzwania, stanowią 1.4% ataków.
        </p>
      </li>
      <li>
        <h4>Terroryści – 0.2%</h4>
        <p>
          Terroryści są odpowiedzialni za 0.2% cyberataków, co wskazuje na
          stosunkowo niskie, ale niepomijalne zagrożenie.
        </p>
      </li>
      <li>
        <h4>Nieokreślony – 3.0%</h4>
        <p>
          3% ataków pochodzi z nieokreślonych źródeł, co utrudnia ich dokładną
          analizę.
        </p>
      </li>
    </ul>
  </div>
</div>
<div class="conclusions">
  <h4>Wnioski</h4>
  <ol>
    <li>
      <strong>Dominacja Przestępców:</strong> Przestępcy są głównymi sprawcami
      cyberataków, co podkreśla potrzebę zwiększenia zabezpieczeń finansowych i
      danych osobowych.
    </li>
    <li>
      <strong>Znaczenie Haktywistów i Aktorów Państwowych:</strong> Działania
      haktywistów i aktorów państwowych wskazują na znaczący wpływ politycznych
      i ideologicznych motywacji na cyberbezpieczeństwo.
    </li>
    <li>
      <strong>Różnorodność Zagrożeń:</strong> Cyberataki pochodzą z różnych
      źródeł, co wymaga szerokiego podejścia do obrony i identyfikacji zagrożeń.
    </li>
  </ol>
</div>
