<div class="analysis_chart">
  <img
    class="analysisChart-img"
    src="../static/photos/cyber_attack_event_types.png"
    alt="Wykres"
  />

  <div class="analysis-content">
    <h3>Typy Cyberataków</h3>
    <p>
      Wykres przedstawia różne typy cyberataków i ich procentowy udział. Oto
      kluczowe wnioski:
    </p>
    <ul>
      <li>
        <h4>Wykorzystujący – 49.8%</h4>
        <p>
          Prawie połowa cyberataków (49.8%) to ataki wykorzystujące, których
          celem jest uzyskanie dostępu do zasobów lub informacji ofiary. Może to
          obejmować kradzież danych, wyłudzenia i inne formy nadużyć.
        </p>
      </li>
      <li>
        <h4>Zakłócający – 31.0%</h4>
        <p>
          31% cyberataków to ataki zakłócające, które mają na celu przerwanie
          normalnego działania systemów, usług lub sieci. Do tej kategorii
          należą ataki typu DDoS (Distributed Denial of Service).
        </p>
      </li>
      <li>
        <h4>Mieszany – 17.9%</h4>
        <p>
          Ataki mieszane stanowią 17.9% i łączą cechy ataków wykorzystujących i
          zakłócających. Tego typu ataki mogą zarówno kradnąć dane, jak i
          zakłócać działanie systemów.
        </p>
      </li>
      <li>
        <h4>Nieokreślony – 1.3%</h4>
        <p>
          1.3% cyberataków pochodzi z nieokreślonych źródeł, co utrudnia ich
          dokładną klasyfikację.
        </p>
      </li>
    </ul>
  </div>
</div>
<div class="conclusions">
  <h4>Wnioski</h4>
  <ol>
    <li>
      <strong>Dominacja Ataków Wykorzystujących:</strong> Większość cyberataków
      ma na celu uzyskanie dostępu do zasobów lub informacji, co podkreśla
      znaczenie ochrony danych.
    </li>
    <li>
      <strong>Znaczenie Ataków Zakłócających:</strong> Znaczny odsetek ataków
      zakłócających wskazuje na potrzebę wzmożonych środków zabezpieczających
      przed zakłóceniami usług.
    </li>
    <li>
      <strong>Różnorodność Typów Ataków:</strong> Różne typy ataków wymagają
      kompleksowych strategii obronnych, które mogą skutecznie chronić przed
      różnorodnymi zagrożeniami.
    </li>
  </ol>
</div>
