<div class="analysis_chart">
  <img
    class="analysisChart-img"
    src="../static/photos/cyber_attack_motives.png"
    alt="Wykres"
  />

  <div class="analysis-content">
    <h3>Motywy Cyberataków</h3>
    <p>
      Wykres przedstawia różne motywy stojące za cyberatakami. Oto szczegółowe
      wnioski:
    </p>
    <ul>
      <li>
        <h4>Motywy Finansowe – 56.3%</h4>
        <p>
          Ponad połowa cyberataków (56.3%) ma motywy finansowe. Przestępcy
          często angażują się w takie działania w celu wyłudzenia pieniędzy,
          kradzieży danych osobowych czy realizacji oszustw finansowych.
        </p>
      </li>
      <li>
        <h4>Protest – 12.1%</h4>
        <p>
          12.1% cyberataków jest motywowanych przez protesty. Takie ataki są
          często przeprowadzane przez haktywistów, którzy chcą zwrócić uwagę na
          określone problemy społeczne lub polityczne.
        </p>
      </li>
      <li>
        <h4>Szpiegostwo Polityczne – 4.6%</h4>
        <p>
          Szpiegostwo polityczne stanowi 4.6% cyberataków. Tego typu działania
          mają na celu zdobycie wrażliwych informacji politycznych lub
          rządowych.
        </p>
      </li>
      <li>
        <h4>Sabotaż – 2.4%</h4>
        <p>
          2.4% ataków jest motywowanych sabotażem, który ma na celu zakłócenie
          działalności technologicznej lub gospodarczej przeciwnika.
        </p>
      </li>
      <li>
        <h4>Ataki Osobiste i Szpiegostwo Przemysłowe</h4>
        <p>
          Ataki osobiste (0.7%) i szpiegostwo przemysłowe (0.7%) są rzadziej
          spotykane, ale stanowią ważne zagrożenie dla indywidualnych osób oraz
          firm.
        </p>
      </li>
      <li>
        <h4>Szpiegostwo ogólne i Nieokreślone Motywy</h4>
        <p>
          Szpiegostwo ogólne (0.2%) jest najrzadziej spotykane, natomiast 23.1%
          ataków pochodzi z nieokreślonych źródeł, co utrudnia ich dokładną
          klasyfikację.
        </p>
      </li>
    </ul>
  </div>
</div>
<div class="conclusions">
  <h4>Wnioski</h4>
  <ol>
    <li>
      <strong>Dominacja Motywów Finansowych:</strong> Cyberataki są głównie
      napędzane motywami finansowymi, co podkreśla potrzebę wzmożonych
      zabezpieczeń finansowych.
    </li>
    <li>
      <strong>Znaczenie Protestów:</strong> Znaczny odsetek ataków motywowanych
      protestami wskazuje na rosnące wykorzystanie cyberprzestrzeni do celów
      politycznych i społecznych.
    </li>
    <li>
      <strong>Różnorodność Motywacji:</strong> Cyberataki mają różnorodne
      motywy, co wymaga szerokiego i zróżnicowanego podejścia do obrony przed
      nimi.
    </li>
  </ol>
</div>
