<div class="analysis_chart">
  <img
    class="analysisChart-img"
    src="../static/photos/cyber_attack_motives_poland.png"
    alt="Wykres"
  />

  <div class="analysis-content">
    <h3>Motywy Cyberataków na Polskę</h3>
    <p>
      Wykres przedstawia motywy cyberataków skierowanych na Polskę. Oto kluczowe
      wnioski:
    </p>
    <ul>
      <li>
        <h4>Protest – 72.7%</h4>
        <p>
          Zdecydowana większość cyberataków (72.7%) jest motywowana protestami.
          Ataki te są często przeprowadzane przez haktywistów, którzy chcą
          zwrócić uwagę na określone problemy społeczne lub polityczne.
        </p>
      </li>
      <li>
        <h4>Finansowy – 9.4%</h4>
        <p>
          9.4% cyberataków ma motywy finansowe, co sugeruje, że przestępcy dążą
          do zysku poprzez kradzież danych lub oszustwa.
        </p>
      </li>
      <li>
        <h4>Sabotaż – 8.6%</h4>
        <p>
          8.6% ataków jest motywowanych sabotażem, mającym na celu zakłócenie
          działalności technologicznej lub gospodarczej Polski.
        </p>
      </li>
      <li>
        <h4>Szpiegostwo Polityczne – 3.1%</h4>
        <p>
          Szpiegostwo polityczne stanowi 3.1% cyberataków. Tego typu działania
          mają na celu zdobycie wrażliwych informacji politycznych lub
          rządowych.
        </p>
      </li>
      <li>
        <h4>Nieokreślony – 6.2%</h4>
        <p>
          6.2% ataków pochodzi z nieokreślonych źródeł, co utrudnia ich dokładną
          analizę.
        </p>
      </li>
    </ul>
  </div>
</div>
<div class="conclusions">
  <h4>Wnioski</h4>
  <ol>
    <li>
      <strong>Dominacja Motywów Protestacyjnych:</strong> Znaczący odsetek
      ataków motywowanych protestami wskazuje na rosnące wykorzystanie
      cyberprzestrzeni do celów politycznych i społecznych.
    </li>
    <li>
      <strong>Różnorodność Motywacji:</strong> Różne motywy cyberataków wymagają
      szerokiego podejścia do obrony, które może skutecznie chronić przed
      różnorodnymi zagrożeniami.
    </li>
    <li>
      <strong>Znaczenie Motywów Finansowych i Sabotażu:</strong> Znaczący udział
      ataków finansowych i sabotażowych podkreśla potrzebę wzmożonych
      zabezpieczeń technologicznych i gospodarczych.
    </li>
  </ol>
</div>
