<div id="attack-type">
  <div>
    <p>
      <strong style="font-size: 20px"
        >DDoS (Distributed Denial of Service)</strong
      >
      to rodzaj cyberataku, który ma na celu zakłócenie normalnego ruchu
      sieciowego na serwerze, usłudze lub sieci poprzez przytłoczenie celu
      ogromnym wolumenem ruchu internetowego. Atak ten pochodzi z wielu różnych
      źródeł, co czyni go trudnym do powstrzymania, ponieważ atakujący mogą
      wykorzystać setki, tysiące, a nawet miliony komputerów lub innych urządzeń
      (botnetów).
    </p>
  </div>
</div>
<hr />
<div class="attack-type-img">
  <h3 style="text-align: center; font-size: 30px">Jak działa DDoS?</h3>
  <img
    src="https://cyberbucket-s3.s3.eu-north-1.amazonaws.com/ddos.png"
    alt="DDoS"
  />
</div>
<div class="attack-info threecolumn">
  <div>
    <h4>Botnet</h4>
    <p>
      Atakujący kompromituje wiele komputerów i urządzeń (botów), które
      następnie tworzą zdalnie sterowaną sieć znaną jako botnet. Botnet może
      składać się z komputerów osobistych, serwerów, a nawet urządzeń IoT
      (Internet of Things).
    </p>
  </div>
  <div>
    <h4>Nasycenie ruchu</h4>
    <p>
      Botnet jest wykorzystywany do wysyłania ogromnej ilości ruchu do
      docelowego serwera, usługi lub sieci. Ruch ten może przybierać różne
      formy, takie jak pakiety TCP, UDP lub HTTP, które przepełniają zasoby
      sieciowe i systemowe celu.
    </p>
  </div>
  <div>
    <h4>Przeciążenie zasobów</h4>
    <p>
      Cel zostaje przytłoczony przez ilość przychodzących żądań, co prowadzi do
      wyczerpania jego zasobów, takich jak przepustowość, pamięć RAM i moc
      procesora. Skutkuje to spowolnieniem działania, przerywaniem usług lub
      całkowitym zatrzymaniem działania celu.
    </p>
  </div>
</div>
<hr />
<h3 style="text-align: center; font-size: 30px">Typy ataków DDoS</h3>
<div class="attack-info threecolumn">
  <div>
    <h4>Ataki wolumetryczne</h4>
    <img
      src="https://cyberbucket-s3.s3.eu-north-1.amazonaws.com/udp.png"
      alt="udp flood"
    />
    <p>
      Skupiają się na zalewaniu celu ogromną ilością ruchu, aby nasycić
      przepustowość sieci. <br /><br /><strong>Przykłady:</strong> UDP Flood,
      ICMP Flood.
    </p>
  </div>
  <div>
    <h4>Ataki na poziomie protokołu</h4>
    <img
      src="https://cyberbucket-s3.s3.eu-north-1.amazonaws.com/syn.png"
      alt="syn flood"
    />
    <p>
      Wykorzystują słabości w protokołach sieciowych, aby wyczerpać zasoby
      serwera. <br /><br /><strong>Przykłady:</strong> SYN Flood, Ping of Death.
    </p>
  </div>
  <div>
    <h4>Ataki na warstwę aplikacyjną</h4>
    <img
      src="https://cyberbucket-s3.s3.eu-north-1.amazonaws.com/http.jpeg"
      alt="http flood"
    />
    <p>
      Skierowane są na najbardziej zasobożerne aspekty aplikacji, takie jak
      strony internetowe. <br /><br /><strong>Przykłady:</strong> HTTP Flood,
      Slowloris.
    </p>
  </div>
</div>
