<div id="attack-type">
  <div>
    <p>
      <strong style="font-size: 20px">Man-in-the-Middle (MitM)</strong>
      to rodzaj cyberataku, w którym atakujący przechwyca i potencjalnie
      modyfikuje komunikację między dwiema stronami bez ich wiedzy. Celem jest
      zdobycie poufnych informacji, takich jak dane logowania, numery kart
      kredytowych czy inne wrażliwe dane, lub wprowadzenie szkodliwego
      oprogramowania.
    </p>
  </div>
</div>
<hr />
<div class="attack-type-img">
  <h3 style="text-align: center; font-size: 30px">
    Jak działa Man-in-the-Middle?
  </h3>
  <img
    src="https://cyberbucket-s3.s3.eu-north-1.amazonaws.com/mitm.jpeg"
    alt="Man in the middle"
  />
</div>
<div class="attack-info twocolumn">
  <div>
    <h4>Podsłuchiwanie (Eavesdropping)</h4>
    <p>
      Atakujący potajemnie przechwyca komunikację między dwiema stronami, które
      uważają, że komunikują się bezpośrednio ze sobą. Może to obejmować
      przechwytywanie wiadomości e-mail, sesji przeglądarki internetowej,
      komunikacji na czacie itp.
    </p>
  </div>
  <div>
    <h4>Fałszowanie komunikacji</h4>
    <p>
      Atakujący może modyfikować lub wstrzykiwać fałszywe wiadomości do
      komunikacji między stronami. Na przykład, może zmienić numer konta
      bankowego w e-mailu, aby przekierować płatność na swoje konto.
    </p>
  </div>
  <div>
    <h4>Ataki na warstwy sieciowe</h4>
    <p>
      Ataki MitM często koncentrują się na warstwach sieciowych, takich jak
      Wi-Fi, gdzie atakujący może skonfigurować fałszywe punkty dostępu lub
      przechwytywać ruch sieciowy w niezabezpieczonych sieciach.
    </p>
  </div>
  <div>
    <h4>Fałszywe certyfikaty SSL</h4>
    <p>
      Atakujący może stosować fałszywe certyfikaty SSL, aby podszywać się pod
      zaufane strony internetowe i przechwytywać zaszyfrowaną komunikację.
    </p>
  </div>
</div>
<hr />
<h3 style="text-align: center; font-size: 30px">
  Typy ataków Man-in-the-Middle
</h3>
<div class="attack-info twocolumn">
  <div>
    <h4>Wi-Fi Eavesdropping</h4>
    <p>
      Atakujący przechwytuje dane przesyłane w niezabezpieczonych sieciach
      Wi-Fi.
    </p>
  </div>
  <div>
    <h4>ARP Spoofing</h4>
    <p>
      Atakujący wysyła fałszywe komunikaty ARP (Address Resolution Protocol) w
      lokalnej sieci, aby powiązać swój adres MAC z adresem IP innego hosta, co
      pozwala na przechwycenie ruchu sieciowego przeznaczonego dla tego hosta.
    </p>
  </div>
  <div>
    <h4>DNS Spoofing</h4>
    <p>
      Atakujący fałszuje odpowiedzi DNS, aby przekierować ofiarę na fałszywą
      stronę internetową.
    </p>
  </div>
  <div>
    <h4>HTTPS Spoofing</h4>
    <p>
      Atakujący wprowadza fałszywy certyfikat SSL, aby podszywać się pod zaufaną
      stronę internetową i przechwytywać zaszyfrowane dane.
    </p>
  </div>
</div>
