<div class="analysis_chart">
  <img
    class="analysisChart-img"
    src="../static/photos/most_attacked_country.png"
    alt="Wykres"
  />

  <div class="analysis-content">
    <h3>Najczęściej Atakowane Kraje</h3>
    <p>
      Wykres przedstawia kraje, które najczęściej padają ofiarą cyberataków. Oto
      kluczowe wnioski:
    </p>
    <ul>
      <li>
        <h4>Stany Zjednoczone na Pierwszym Miejscu</h4>
        <p>
          Stany Zjednoczone są zdecydowanym liderem z 6479 atakami, co wskazuje
          na intensywne działania cybernetyczne skierowane przeciwko temu
          krajowi.
        </p>
      </li>
      <li>
        <h4>Wielka Brytania i Włochy</h4>
        <p>
          Wielka Brytania (729 ataków) i Włochy (409 ataków) również często
          padają ofiarą cyberataków. Te kraje, będąc kluczowymi graczami na
          arenie międzynarodowej, są atrakcyjnymi celami dla cyberprzestępców.
        </p>
      </li>
      <li>
        <h4>Ukraina i Rosja</h4>
        <p>
          Ukraina (383 ataków) i Rosja (370 ataków) znajdują się na kolejnych
          miejscach. Wysoka liczba ataków na Ukrainę może być związana z
          konfliktem z Rosją, natomiast Rosja jest zarówno atakującym, jak i
          atakowanym krajem.
        </p>
      </li>
      <li>
        <h4>Inne Kraje</h4>
        <p>
          IKanada (345 ataków), Indie (316 ataków), Australia (251 ataków),
          Francja (249 ataków), Niemcy (229 ataków), Izrael (191 ataków), Chiny
          (156 ataków), Japonia (149 ataków), Brazylia (145 ataków) i Polska
          (128 ataków) również znajdują się na liście często atakowanych krajów.
        </p>
      </li>
    </ul>
  </div>
</div>
<div class="conclusions">
  <h4>Wnioski</h4>
  <ol>
    <li>
      <strong>Celowane Ataki na Kraje Zachodnie:</strong> Stany Zjednoczone,
      Wielka Brytania i inne kraje zachodnie często stają się celem cyberataków,
      co może wynikać z ich zaawansowanej infrastruktury technologicznej i
      znaczenia politycznego.
    </li>
    <li>
      <strong>Konflikty Regionalne:</strong> Wysoka liczba ataków na Ukrainę i
      Rosję sugeruje, że cyberataki są również narzędziem w regionalnych
      konfliktach i napięciach.
    </li>
    <li>
      <strong>Globalne Zagrożenie:</strong> Cyberataki są problemem globalnym,
      dotykającym kraje na wszystkich kontynentach, co wymaga międzynarodowej
      współpracy w zakresie cyberbezpieczeństwa. cybernetyczne.
    </li>
  </ol>
</div>
