<div class="analysis_chart">
  <img
    class="analysisChart-img"
    src="../static/photos/most_actor_country_poland.png"
    alt="Wykres"
  />

  <div class="analysis-content">
    <h3>Kraje Atakujące Polskę</h3>
    <p>
      Wykres przedstawia kraje, które najczęściej przeprowadzają cyberataki na
      Polskę. Oto najważniejsze wnioski:
    </p>
    <ul>
      <li>
        <h4>Rosja na Pierwszym Miejscu</h4>
        <p>
          Rosja jest zdecydowanym liderem, przeprowadzając 92 ataki na Polskę.
          To pokazuje intensywne działania cybernetyczne skierowane przeciwko
          Polsce, prawdopodobnie związane z geopolitycznymi napięciami i próbami
          wpływu na politykę i gospodarkę.
        </p>
      </li>
      <li>
        <h4>Białoruś</h4>
        <p>
          Białoruś, z 11 atakami, zajmuje drugie miejsce. Jej działania mogą być
          związane z bliskimi relacjami z Rosją i wspólnymi interesami w
          regionie.
        </p>
      </li>
      <li>
        <h4>Inne Kraje</h4>
        <p>
          Brazylia, Japonia i Ukraina przeprowadziły po jednym ataku na Polskę,
          co wskazuje na sporadyczne, ale zauważalne zagrożenia z tych krajów.
        </p>
      </li>
      <li>
        <h4>Ataki z Nieokreślonych Krajów</h4>
        <p>
          22 ataki pochodzą z nieokreślonych krajów, co utrudnia ich dokładną
          analizę, ale pokazuje, że cyberataki mogą pochodzić z różnych, często
          trudnych do zidentyfikowania źródeł.
        </p>
      </li>
    </ul>
  </div>
</div>
<div class="conclusions">
  <h4>Wnioski</h4>
  <ol>
    <li>
      <strong>Geopolityczne Napięcia:</strong> Wysoka liczba ataków z Rosji i
      Białorusi może być odzwierciedleniem napięć w regionie Europy Wschodniej
      oraz strategicznej pozycji Polski.
    </li>
    <li>
      <strong>Sporadyczne Zagrożenia:</strong> Ataki z Brazylii, Japonii i
      Ukrainy wskazują na możliwość wystąpienia zagrożeń z różnych części
      świata, choć na mniejszą skalę.
    </li>
    <li>
      <strong>Trudność w Identyfikacji:</strong> Znacząca liczba ataków z
      nieokreślonych źródeł podkreśla trudność w śledzeniu i identyfikacji
      cyberzagrożeń.
    </li>
  </ol>
</div>
