<div class="analysis_chart">
  <img
    class="analysisChart-img"
    src="../static/photos/most_actor_country.png"
    alt="Wykres"
  />

  <div class="analysis-content">
    <h3>Najczęściej Atakujące Kraje</h3>
    <p>
      Na podstawie wykresu, możemy zidentyfikować kraje, które najczęściej
      przeprowadzają cyberataki. Oto kluczowe spostrzeżenia:
    </p>
    <ul>
      <li>
        <h4>Rosja na Pierwszym Miejscu</h4>
        <p>
          Rosja jest zdecydowanym liderem, przeprowadzając 1741 cyberataków. Ta
          liczba znacząco przewyższa inne kraje, co wskazuje na intensywną
          działalność w cyberprzestrzeni, mającą na celu szpiegostwo, sabotaż
          gospodarczy, czy destabilizację polityczną.
        </p>
      </li>
      <li>
        <h4>Aktywność Chin i Korei Północnej</h4>
        <p>
          Chiny i Korea Północna zajmują drugie i trzecie miejsce z odpowiednio
          157 i 149 atakami. Te kraje również angażują się w działania
          cybernetyczne, które mogą obejmować kradzież technologii i danych, a
          także działania propagandowe.
        </p>
      </li>
      <li>
        <h4>Stany Zjednoczone i Ukraina</h4>
        <p>
          Stany Zjednoczone (139 ataków) i Ukraina (125 ataków) również są
          znaczącymi aktorami w przestrzeni cybernetycznej. Działalność Ukrainy
          może być szczególnie związana z konfliktem z Rosją, natomiast USA
          często prowadzi działania obronne i ofensywne w odpowiedzi na globalne
          zagrożenia.
        </p>
      </li>
      <li>
        <h4>Inne Kraje</h4>
        <p>
          Iran (87 ataków), Arabia Saudyjska (87 ataków), Azerbejdżan (68
          ataków), Indie (68 ataków), Pakistan (61 ataków), Syria (58 ataków) i
          Wielka Brytania (51 ataków) także przyczyniają się do globalnej liczby
          cyberataków. Ich motywacje mogą obejmować regionalne konflikty,
          zdobywanie przewagi technologicznej czy politycznej.
        </p>
      </li>
    </ul>
  </div>
  <div class="conclusions">
    <h4>Wnioski</h4>
    <ol>
      <li>
        <strong>Geopolityczne Napięcia:</strong> Aktywność cybernetyczna Rosji,
        Chin i Korei Północnej jest odzwierciedleniem globalnych napięć i
        rywalizacji. Te kraje, mając napięte relacje z wieloma państwami,
        intensyfikują swoje działania w cyberprzestrzeni.
      </li>
      <li>
        <strong>Cele Ataków:</strong> Cyberataki mogą mieć różne cele, od
        kradzieży danych przez wpływanie na procesy polityczne po zakłócanie
        działalności gospodarczej. Ataki te są często ukierunkowane na zdobycie
        strategicznych przewag lub destabilizację przeciwników.
      </li>
      <li>
        <strong>Globalna Skala Problemów:</strong> Problem cyberataków jest
        globalny, dotykający zarówno kraje rozwinięte, jak i rozwijające się.
        Kraje takie jak Iran, Arabia Saudyjska, Indie, Pakistan i inne, mimo
        mniejszej liczby ataków, wciąż mają znaczący wpływ na globalne
        bezpieczeństwo cybernetyczne.
      </li>
    </ol>
  </div>
</div>
