<div class="analysis_chart">
  <img
    class="analysisChart-img"
    src="../static/photos/number_of_events_by_year.png"
    alt="Wykres"
  />

  <div class="analysis-content">
    <h3>Liczba Cyberataków</h3>
    <p>
      Wykres przedstawia liczbę cyberataków na przestrzeni lat 2014-2023.
      Ogólnie rzecz biorąc, można zauważyć wyraźny trend wzrostowy, co sugeruje
      rosnące zagrożenie ze strony cyberprzestępczości.
    </p>
    <ul>
      <li>
        <h4>Wzrost na początku dekady (2014-2016)</h4>
        <p>
          Na początku okresu, w latach 2014-2016, liczba cyberataków wzrosła z
          633 do 1104. Ten gwałtowny wzrost może być wynikiem rosnącej
          dostępności technologii oraz zwiększającej się liczby urządzeń
          podłączonych do sieci, które stają się celami dla cyberprzestępców.
        </p>
      </li>
      <li>
        <h4>Spadek w latach 2017-2018</h4>
        <p>
          Lata 2017 i 2018 przyniosły spadek liczby ataków do 810 i 824. Może to
          sugerować poprawę w zakresie środków bezpieczeństwa i zwiększoną
          świadomość wśród firm oraz użytkowników indywidualnych, co utrudniało
          działania cyberprzestępców.
        </p>
      </li>
      <li>
        <h4>Kolejny wzrost w 2019 roku</h4>
        <p>
          W 2019 roku liczba ataków ponownie wzrosła do 1067, co może być
          wynikiem rozwijania nowych technik ataków oraz celowania w bardziej
          podatne sektory, takie jak służba zdrowia i instytucje finansowe.
        </p>
      </li>
      <li>
        <h4>Skok podczas pandemii COVID-19 (2020)</h4>
        <p>
          Rok 2020 przyniósł znaczący wzrost liczby ataków do 1747. Pandemia
          COVID-19 przyczyniła się do zwiększenia liczby osób pracujących
          zdalnie, co stworzyło więcej możliwości dla cyberprzestępców, którzy
          wykorzystali luki w zabezpieczeniach domowych sieci.
        </p>
      </li>
      <li>
        <h4>Spadek po pandemii (2021)</h4>
        <p>
          W 2021 roku liczba cyberataków spadła do 1430. Możliwe, że firmy i
          instytucje lepiej przygotowały się na zdalne operacje, wzmacniając
          swoje systemy zabezpieczeń po pierwszym roku pandemii.
        </p>
      </li>
      <li>
        <h4>Rekordowy poziom ataków w 2022 i 2023</h4>
        <p>
          Lata 2022 i 2023 były rekordowe pod względem liczby cyberataków, z
          2561 atakami w 2022 roku i 2373 w 2023 roku. Wzrost ten może być
          wynikiem coraz bardziej zaawansowanych metod ataku oraz rosnącej
          liczby celów o wysokiej wartości, takich jak infrastruktura krytyczna
          i dane osobowe.
        </p>
      </li>
    </ul>
  </div>
  <div class="conclusions">
    <h4>Wnioski</h4>
    <ol>
      <li>
        <strong>Rosnące zagrożenie cyberprzestępczością:</strong> Liczba
        cyberataków na przestrzeni ostatniej dekady wykazuje wyraźny trend
        wzrostowy, co podkreśla rosnące zagrożenie w cyberprzestrzeni.
        Szczególnie lata 2022 i 2023 pokazują rekordowy poziom aktywności
        cyberprzestępców, co wymaga wzmożonej uwagi i inwestycji w zaawansowane
        technologie ochrony.
      </li>
      <li>
        <strong>Wpływ globalnych wydarzeń:</strong> Pandemia COVID-19 znacząco
        wpłynęła na wzrost liczby cyberataków, co pokazuje, jak globalne
        wydarzenia mogą wpływać na krajobraz cyberzagrożeń. Zmiana w modelach
        pracy na bardziej zdalne zwiększyła podatność systemów na ataki,
        podkreślając potrzebę elastycznych i odpornych strategii bezpieczeństwa.
      </li>
      <li>
        <strong>Znaczenie edukacji i współpracy:</strong> Skuteczna obrona przed
        cyberatakami wymaga ciągłej edukacji użytkowników na temat najlepszych
        praktyk cyberbezpieczeństwa oraz międzynarodowej współpracy. Tylko
        poprzez wspólne działania i dzielenie się informacjami można skutecznie
        przeciwdziałać rosnącym zagrożeniom i minimalizować ryzyko związane z
        cyberprzestępczością.
      </li>
    </ol>
  </div>
</div>
