<div id="attack-type">
  <div>
    <p>
      <strong style="font-size: 20px">Phishing</strong> to jedna z najczęstszych
      i najbardziej podstępnych form cyberataków. Jego celem jest oszukanie
      użytkowników i skłonienie ich do ujawnienia wrażliwych informacji, takich
      jak hasła, numery kart kredytowych czy inne dane osobowe. Ataki
      phishingowe są zwykle przeprowadzane za pomocą fałszywych e-maili,
      wiadomości SMS, czy stron internetowych, które na pierwszy rzut oka
      wyglądają na wiarygodne i pochodzące od zaufanych źródeł.
    </p>
  </div>
</div>
<hr />
<div class="attack-type-img">
  <h3 style="text-align: center; font-size: 30px">Jak wygląda taki atak?</h3>
  <img
    src="https://cyberbucket-s3.s3.eu-north-1.amazonaws.com/phishing.jpeg"
    alt="Phishing"
  />
</div>
<div class="attack-info twocolumn">
  <div>
    <h4>Fałszywe wiadomości</h4>
    <p>
      Przestępcy wysyłają e-maile lub wiadomości, które wyglądają jakby
      pochodziły od zaufanych instytucji, takich jak banki, portale
      społecznościowe, sklepy internetowe czy nawet pracodawcy. Wiadomości te
      często zawierają logo i inne elementy graficzne, które mają na celu
      uwiarygodnienie ich pochodzenia.
    </p>
  </div>

  <div>
    <h4>Socjotechnika</h4>
    <p>
      Atakujący stosują techniki socjotechniczne, aby wywołać poczucie pilności
      lub strachu. Mogą twierdzić, że konto użytkownika zostało zablokowane, że
      doszło do podejrzanej aktywności, lub że należy natychmiast zweryfikować
      dane, aby uniknąć konsekwencji. Wiadomości często zawierają linki do
      fałszywych stron internetowych, które wyglądają niemal identycznie jak
      prawdziwe strony.
    </p>
  </div>
  <div>
    <h4>Fałszywe strony internetowe</h4>
    <p>
      Linki w wiadomościach phishingowych prowadzą do fałszywych stron
      internetowych, które są zaprojektowane tak, aby naśladować wygląd i
      działanie prawdziwych stron. Użytkownicy są proszeni o wprowadzenie swoich
      danych logowania, numerów kart kredytowych, PIN-ów itp. na tych fałszywych
      stronach.
    </p>
  </div>
  <div>
    <h4>Kradzież danych</h4>
    <p>
      Wprowadzone przez użytkowników dane są zbierane przez przestępców i mogą
      być używane do nieautoryzowanego dostępu do kont, kradzieży pieniędzy,
      tożsamości czy innych form oszustw.
    </p>
  </div>
</div>
