<div id="attack-type">
  <div>
    <p>
      <strong style="font-size: 20px">Phishing</strong> to jedna z najczęstszych
      i najbardziej podstępnych form cyberataków. Jego celem jest oszukanie
      użytkowników i skłonienie ich do ujawnienia wrażliwych informacji, takich
      jak hasła, numery kart kredytowych czy inne dane osobowe. Ataki
      phishingowe są zwykle przeprowadzane za pomocą fałszywych e-maili,
      wiadomości SMS, czy stron internetowych, które na pierwszy rzut oka
      wyglądają na wiarygodne i pochodzące od zaufanych źródeł.
    </p>
  </div>
</div>
