<div id="attack-type">
  <div>
    <p>
      <strong style="font-size: 20px">Spear Phishing</strong>
      to wyspecjalizowana forma phishingu, która celuje w konkretną osobę lub
      organizację, wykorzystując szczegółowe i często bardzo przekonujące
      informacje, aby skłonić ofiarę do ujawnienia poufnych danych lub wykonania
      określonej czynności. W przeciwieństwie do masowych kampanii
      phishingowych, które są rozsyłane do wielu osób jednocześnie, spear
      phishing jest wysoce spersonalizowany i precyzyjnie zaplanowany.
    </p>
  </div>
</div>
<hr />

<div class="attack-info threecolumn">
  <div>
    <h4>Pracownicy firm</h4>
    <img
      src="https://cyberbucket-s3.s3.eu-north-1.amazonaws.com/people.jpeg"
      alt="Pracownicy"
    />
    <p>
      Atakujący mogą celować w pracowników, aby zdobyć dostęp do wewnętrznych
      systemów firmowych, danych klientów lub informacji finansowych.
    </p>
  </div>
  <div>
    <h4>Menadżerowie i kadra zarządzająca</h4>
    <img
      src="https://cyberbucket-s3.s3.eu-north-1.amazonaws.com/managers.png"
      alt="Menadżerowie"
    />
    <p>
      Atakujący wysyła fałszywe komunikaty ARP (Address Resolution Protocol) w
      lokalnej sieci, aby powiązać swój adres MAC z adresem IP innego hosta, co
      pozwala na przechwycenie ruchu sieciowego przeznaczonego dla tego hosta.
    </p>
  </div>
  <div>
    <h4>Klienci i partnerzy biznesowi</h4>
    <img
      src="https://cyberbucket-s3.s3.eu-north-1.amazonaws.com/Partners.jpeg"
      alt="Klienci i partnerzy biznesowi"
    />
    <p>
      Atakujący mogą podszywać się pod klientów lub partnerów biznesowych, aby
      uzyskać dostęp do cennych danych lub funduszy.
    </p>
  </div>
</div>
