.actual-news-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.actual-news-content img {
  border-radius: 16px;
  height: 400px;
  margin: 50px;
}

.actual-news-content p {
  color: #e4eaf5;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  text-indent: 2vw;
  font-size: clamp(16px, 1.2vw, 24px);
  margin: 5px;
  margin-bottom: 20px;
}

.actual-news-content a {
  color: #89a6d1;
}

.actual-news-content h3 {
  color: #d0dced;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 20px;
  margin: 10px;
}

.actual-news-content h2 {
  color: #d0dced;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 28px;
  margin: 10px;
}

.actual-news-content ul li,
.actual-news-content ol li {
  color: #e4eaf5;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: oblique;
  text-align: left;
  font-size: clamp(16px, 1.2vw, 24px);
  margin: 5px;
  margin-left: 20%;
  margin-right: 20%;
}

.actual-news-title {
  font-size: 40px;
}

@media (max-width: 53rem) {
  .actual-news-content img {
    border-radius: 16px;
    max-height: 200px;
    margin: 50px;
  }
  .actual-news-content {
    margin-left: 5%;
    margin-right: 5%;
  }
  .actual-news-content p {
    text-align: left;
  }
  .actual-news-content p,
  .actual-news-content ol,
  .actual-news-content li,
  .actual-news-content a {
    font-size: 16px;
  }
  .actual-news-content h3 {
    font-size: 20px;
  }
  .actual-news-title {
    font-size: 32px;
  }
}

.update-delete-button button {
  background-color: #89a6d140;
  color: #e4eaf5;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 8px 12px;
  border: 0px solid #000;
  border-radius: 8px;
  margin-right: 12px;
}

.update-delete-button a {
  text-decoration: none;
  color: #e4eaf5;
}

.update-delete-button {
  display: flex;
  margin-left: 10px;
  justify-content: flex-end;
}
