#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file {
  margin-top: 0px;
}

.fileDiv {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

#file + label svg {
  cursor: pointer;
}
