.analysis-div-list {
  display: flex;
  justify-content: center;
}

.analysis {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.analysis h3 {
  margin-bottom: 20px;
}

.analysisChart-img {
  width: 100%;
  height: auto;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 16px;
}

.analysis_chart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  width: 95%;
  max-width: 1600px;
  justify-items: center;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.analysis_chart ul {
  padding-left: 0px;
  list-style-type: none;
}

.analysis-content {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.analysis-content p {
  margin-bottom: 20px;
  line-height: 1.5;
  text-indent: 3vw;
}

.analysis-content h4 {
  background-color: transparent;
  font-weight: 400;
  font-style: oblique;
  font-size: 20px;
}
.analysis-content h3 {
  font-weight: 350;
  font-size: 32px;
  margin-bottom: 10px;
}

.conclusions {
  color: #e4eaf5;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  font-size: 16px;
  padding: 12px;
  max-width: 1600px;
}

.conclusions {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  width: 100%;
}

.conclusions h4 {
  background-color: transparent;
  font-weight: 300;
}

.conclusions strong {
  font-weight: 400;
}
.conclusions li {
  margin-bottom: 8px;
  line-height: 1.5;
}

.summary {
  width: 95%;
  max-width: 1600px;
}

.summary p {
  line-height: 1.5;
  text-indent: 3vw;
}

.summary a {
  color: #89a6d1;
}

#analysis-list ul {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

@media (max-width: 70rem) {
  .analysis_chart {
    display: flex;
    flex-direction: column;
  }

  .analysisChart-img {
    max-height: 600px;
    max-width: max-content;
  }
}

@media (max-width: 53rem) {
  .analysis-content h3 {
    font-size: clamp(28px, 5vw, 32px);
  }

  .analysis h3 {
    font-size: clamp(28px, 5vw, 32px);
  }
}
