#cyberattacks-title {
  color: #afc5e1;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}

.img-container img {
  object-fit: cover;
  max-height: 200px;
  min-height: 150px;
  width: 100%;
  opacity: 0.1;
}

.cyberattacks {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
}

.img-container h2 {
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cyberattacks p {
  color: #e2eeff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-size: 16px;
}

.cyberattacks article {
  border: 0px solid black;
  background-color: #3b466d30;
  border-radius: 16px;
  padding: 8px;
  display: flex;
  align-items: flex-start;
}

#v1 h3,
#v1 p,
#v3 h3,
#v3 p {
  text-align: left;
}

#v2 ul {
  padding-left: 0px;
}

.list-item {
  display: inline-block;
  color: #e4eaf5;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  list-style-type: none;
  background-color: #3b466d70;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 5px;
  text-align: center;
}

.list-item:hover {
  cursor: pointer;
  transform: scale(0.98);
  color: #89a6d1;
}

.list-item:active {
  transform: scale(1);
}

.list-item.active {
  transform: scale(0.98);
  color: #89a6d1;
}

#v1 img {
  border-radius: 8px;
  opacity: 0.6;
  max-width: 20%;
  object-fit: cover;
  height: 100%;
}

#v3 img {
  border-radius: 8px;
  opacity: 0.6;
  width: 100%;
  object-fit: cover;
  height: 200px;
}

#v3 {
  display: flex;
  flex-direction: column;
}

#v1 div {
  width: 80%;
  padding: 8px 0px 8px 16px;
}

#v2 {
  flex-direction: column;
}

#v2 h3 {
  text-align: left;
}

#attack-type {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 100%;
  max-height: 100%;
  gap: 10px;
}

#attack-type div {
  position: relative;
  text-align: center;
  color: white;
  padding: 8px;
}

#attack-type p {
  max-width: 100%;
  text-align: left;
}

#attack-type div img {
  opacity: 0.1;
  object-fit: cover;
  max-width: 200px;
  border: 2px solid #e4eaf5;
  border-radius: 8px;
}

#attack-type div h3 {
  font-size: 30px;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#attack-content {
  display: grid;
  gap: 20px;
}

#attack-content hr {
  opacity: 0.2;
}

h4 {
  color: #e2eeff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  background-color: #3b466d70;
  border-radius: 8px 8px 0px 0px;
  padding: 10px;
}

.attack-info div img {
  height: 80px;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.attack-type-img {
  display: grid;
  justify-items: center;
  gap: 10px;
}

.attack-type-img img {
  border: 8px solid #000000;
  max-height: 300px;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 16px;
}

.attack-info {
  display: grid;
  justify-content: space-around;
  grid-template-columns: minmax(40ch, 120ch);
  gap: 20px;
}

.attack-info p {
  font-size: 16px;
  text-align: left;
  margin-bottom: 5px;
  padding: 12px;
  background-color: #3b466d30;
  border-radius: 0px 0px 8px 8px;
}

.twocolumn {
  grid-template-columns: repeat(auto-fill, minmax(40ch, 80ch));
}

.threecolumn {
  grid-template-columns: repeat(auto-fill, minmax(40ch, 50ch));
}
