.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  max-width: 2000px;
  gap: 10px;
  align-self: start;
  margin: 0 auto;
  justify-content: center;
}

.gridContainer a {
  color: #d0dced80;
}

.gridContainer a:hover {
  transform: scale(1.02);
}

.gridContainer a {
  text-decoration: none;
  transition: opacity 0.6s ease;
}

.gridContainer:has(a:hover) > a:not(:hover) {
  opacity: 0.4;
}

.postRow {
  margin: 10px 10px 10px 10px;
  display: flex;
  background-color: #3b466d;
  border-radius: 16px;
  height: 400px;
  flex-direction: column;
}

.postRow img {
  height: 260px;
  width: 100%;
  opacity: 0.8;
  border-radius: 16px 16px 0px 0px;
  object-fit: cover;
}

.linkClick {
  display: block;
  color: #e4eaf5;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 18px;
  padding: 12px;
}

.postRow p {
  text-align: right;
  color: #d0dced80;
  font-weight: 400;
  font-size: clamp(8px, 0.5vw, 10px);
  margin: 0px;
}

.linkClick hr {
  margin: 4px 0px;
  color: #d0dced80;
}

.newsContent {
  line-height: 1.2;
  color: #d0dcedaa;
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.newsContent p {
  text-align: right;
  color: #d0dced80;
  font-weight: 400;
  font-size: clamp(8px, 0.5vw, 10px);
  margin: 0px;
}

.newsTitle {
  line-height: 1.2;
  max-height: calc(1.2em * 2);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

@media (max-width: 53rem) {
  .gridContainer {
    grid-template-columns: repeat(auto-fill, 300px);
  }
  .postRow img {
    height: 160px;
  }
  .postRow {
    height: 300px;
    margin: 5px 5px 5px 5px;
  }
}
