.newsHeading {
  color: #e2eeff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 100px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  max-width: 2000px;
  gap: 10px;
  align-self: start;
  margin: 0 auto;
  justify-content: center;
}

.gridContainer a:hover {
  transform: scale(1.02);
}

.gridContainer a {
  text-decoration: none;
  transition: opacity 0.6s ease;
}

.gridContainer:has(a:hover) > a:not(:hover) {
  opacity: 0.4;
}

.postRow {
  margin: 10px 10px 10px 10px;
  display: flex;
  background-color: #3e4668;
  border-radius: 16px;
  height: 400px;
  flex-direction: column;
}

.postRow img {
  height: 260px;
  width: 100%;
  opacity: 0.8;
  border-radius: 16px 16px 0px 0px;
  object-fit: cover;
}

.linkClick {
  display: block;
  color: #e2eeff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 18px;
  padding: 12px;
}

.postRow p {
  text-align: right;
  color: #8ebbff80;
  font-size: clamp(8px, 0.5vw, 10px);
  margin: 0px;
}

hr {
  margin: 4px 0px;
}

.postRow span {
  line-height: 1.2;
  color: #8ebbff50;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.newsTitle {
  line-height: 1.2;
  height: 48px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.newsTitle p {
  color: red;
}

@media (max-width: 40rem) {
  .gridContainer {
    grid-template-columns: repeat(auto-fill, 300px);
  }
  .newsHeading {
    font-size: 40px;
  }
  .postRow img {
    height: 160px;
  }
  .postRow {
    height: 300px;
    margin: 5px 5px 5px 5px;
  }
}
