@import url("register.css");
@import url("dashboard.css");
@import url("header_admin.css");
@import url("news.css");
@import url("analysis.css");
@import url("add_post.css");
@import url("pagination.css");
@import url("actual_news.css");
@import url("css_reset.css");
@import url("cyberattacks.css");
@import url("map.css");
@import url("links.css");
@import url("login.css");

body {
  background-color: #24293e;
}

h1 {
  color: #e2eeff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 80px;
  background-image: linear-gradient(45deg, #3b466d, #89a6d1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

p {
  color: #e2eeff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  font-size: 16px;
}

.mainPage {
  margin-left: 10px;
}

.mainPage:hover {
  background-image: linear-gradient(45deg, #3b466d80, #89a6d180);
}

figure {
  user-select: none;
  margin-left: 24px;
  margin-right: 24px;
  position: absolute;
  top: 40%;
}

h2 {
  color: #e4eaf5;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: clamp(20px, 3vw, 39px);
  margin-top: 0px;
}

h3 {
  color: #e4eaf5;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
}

.content {
  user-select: none;
  color: #e4eaf5;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: clamp(66px, 10vw, 131px);
  background-image: linear-gradient(45deg, #89a6d1, #3b466d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin-top: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  /* align-items: center; */
}

.menu {
  display: flex;
  margin-top: 64px;
  align-items: center;
}

.menu a {
  color: #d0dced80;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 16px;
  margin: 0 12px;
}

#activeLink {
  color: #89a6d1;
}

#activeLink:active {
  color: #89a6d180;
}

.menu a:hover {
  color: #89a6d1;
  transform: scale(0.95);
}

.menu a:active {
  color: #89a6d180;
}

.createFormDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.registerFormDiv button {
  margin: 8px 0px 0px 0px;
}

#createForm {
  text-align: left;
  color: #e4eaf5;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-right: 10px;
  margin-left: 10px;
  width: 100%;
  /* box-sizing: border-box; */
}

#registerForm {
  text-align: left;
  color: #e4eaf5;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

textarea {
  color: #e4eaf5;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 5px 5px;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 0px;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}

input,
select {
  color: #e4eaf5;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 5px 5px;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 5px;
  box-sizing: border-box;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  padding: 5px 40px 5px 10px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><path fill="none" stroke="white" stroke-width="1.5" d="M1 3 l4 4 l4 -4"/></svg>')
    no-repeat right 5px center;
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.button {
  background-color: #89a6d140;
  color: #e4eaf5;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 8px 12px;
  border: 0px solid #000;
  border-radius: 8px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}

.button:hover {
  transform: scale(0.95);
}

.button:active {
  background: linear-gradient(to right, #89a6d180, #3b466d20);
  background-color: #8ebbff;
}

#addButton {
  float: right;
}

#info {
  display: block;
  color: #e4eaf5;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 24px;
}

.ql-toolbar.ql-snow {
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 8px;
  background-color: #dee3ea;
  padding: 5px 5px;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 8px 8px 0px 0px;
  margin-top: 10px;
}

.ql-snow .ql-tooltip.ql-editing input[type="text"] {
  display: inline-block;
  color: black;
}

/* div.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-in-out;
} */

.space {
  padding: 50px;
}

.menu2 {
  display: none;
  margin-top: 8px;
  margin-right: 8px;
  color: #89a6d180;
}

#navbar a {
  color: #d0dced80;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#navbar a:hover {
  color: #89a6d1;
  transform: scale(0.95);
}

#navbar a:active {
  color: #89a6d180;
}

#navbar {
  display: none;
  align-items: center;
  flex-direction: column;
  background-color: #89a6d110;
  border-radius: 0px 0px 8px 8px;
}

.menu2:hover {
  transform: scale(1.05);
}

.mainPage2 {
  display: none;
}

@media (max-width: 53rem) {
  .menu {
    display: none;
  }

  .menu2 {
    display: block;
  }

  .mainPage {
    font-size: clamp(40px, 10vw, 80px);
  }
  header {
    align-items: flex-start;
  }

  #navbar {
    display: flex;
  }
  /* .mainPage2 {
    display: block;
  }

  .mainPage2:hover {
    background-image: linear-gradient(45deg, #2f365180, #8ebbff80);
  } */
}
