@import url("register.css");
@import url("header_admin.css");
@import url("news.css");
@import url("analysis.css");
@import url("add_post.css");
@import url("pagination.css");

body {
  background-color: #24293e;
}

h1 {
  color: #e2eeff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 80px;
  background-image: linear-gradient(45deg, #2f3651, #8ebbff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin-top: 0px;
  margin-left: 2%;
  margin-bottom: 0px;
}

.mainPage:hover {
  background-image: linear-gradient(45deg, #2f365180, #8ebbff80);
}

figure {
  margin-left: 24px;
  margin-right: 24px;
  position: absolute;
  top: 40%;
}

h2 {
  color: #e2eeff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 60px;
  margin-top: 0px;
}

h3 {
  color: #e2eeff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
}

.content {
  color: #e2eeff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 144px;
  background-image: linear-gradient(45deg, #8ebbff, #2f3651);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin-top: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;

  /* align-items: center; */
}

.menu {
  display: flex;
  margin-top: 56px;
}

.menu a {
  color: #8ebbff80;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 16px;
  margin: 0 12px;
}

#activeLink {
  color: #8ebbff;
}

#activeLink:active {
  color: #8ebbff80;
}

.menu a:hover {
  color: #8ebbff;
  transform: scale(0.95);
}

.menu a:active {
  color: #8ebbff80;
}

.createFormDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.registerFormDiv,
.loginFormDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#createForm {
  text-align: left;
  color: #e2eeff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 10px;
  margin-left: 10px;
  width: 100%;
  /* box-sizing: border-box; */
}

#registerForm,
#loginForm {
  text-align: left;
  color: #e2eeff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 10px;
  margin-left: 10px;
}

textarea {
  color: #e2eeff;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 5px 5px;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 0px;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}

input,
select {
  color: #e2eeff;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 5px 5px;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 5px;
  box-sizing: border-box;
}

.button {
  background-color: #8ebbff40;
  color: #e2eeff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 8px 12px;
  border: 0px solid #000;
  border-radius: 8px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}

.button:hover {
  transform: scale(0.95);
}

.button:active {
  background: linear-gradient(to right, #8ebbff80, #2f365120);
  background-color: #8ebbff;
}

#addButton {
  float: right;
}

#info {
  display: block;
  color: #e2eeff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 24px;
}

.ql-toolbar.ql-snow {
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 8px;
  background-color: #dee3ea;
  padding: 5px 5px;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 8px 8px 0px 0px;
  margin-top: 10px;
}

.ql-snow .ql-tooltip.ql-editing input[type="text"] {
  display: inline-block;
  color: black;
}

div.htmx-swapping {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.space {
  padding: 50px;
}
