<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bezpieczni</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='css/style.css') }}"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
    </style>
    <script
      defer
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <h1 class="mainPage"><a href="/dashboard">Bezpieczni</a></h1>
      <div class="menuGrid">
        <a id="logout" href="/logout">Wyloguj się</a>
        <nav class="menuAdmin">
          <a href="/add/post">Dodaj artykuł</a>
          <a href="/admin/news/page-1">Aktualności</a>
        </nav>
      </div>
    </header>
    {% if photo_data %}
    <img src="data:image/jpeg;base64,{{ photo_data }}" alt="Photo" />
    {% endif %}
    <h3 style="text-align: center; color: rgb(192, 208, 231)">
      {{ post.title }}
    </h3>
    <p style="color: rgb(192, 208, 231); margin-left: 5%; margin-right: 5%">
      {{ post.content }}
    </p>
    <p
      style="
        text-align: right;
        color: rgb(192, 208, 231);
        margin-left: 50px;
        margin-right: 50px;
      "
    >
      {{ author.name }} {{author.surname }}
    </p>
  </body>
</html>
