<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bezpieczni</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='css/style.css') }}"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
    </style>
    <script
      defer
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <h1 class="mainPage"><a href="/dashboard">Bezpieczni</a></h1>
      <div class="menu">
        <a href="/add/post" id="activeLink">Dodaj artykuł</a>
        <a href="/admin/news/page-1">Aktualności</a>
        <p>|</p>
        <a id="logout" href="/logout">Wyloguj się</a>
      </div>
      <div class="menu2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
          />
        </svg>
      </div>
    </header>
    <h3 style="margin-top: 100px">Dodaj artykuł:</h3>
    <div class="createFormDiv">
      <form
        id="createForm"
        {%
        if
        post
        %}
        hx-patch="/update/news-{{post.id}}"
        hx-confirm="Czy na pewno chcesz zaaktualizować?"
        {%
        else
        %}
        hx-post="/add/post"
        hx-on:submit="document.querySelector('#fileName').textContent=''; document.querySelector('form').reset() ; document.querySelector('.ql-editor').textContent=''"
        hx-swap="outerHtml"
        {%
        endif
        %}
        enctype="multipart/form-data"
      >
        <label for="title">Tytuł:</label><br />
        <textarea id="title" name="title" rows="1">
{% if post %}{{post.title}}{% endif %}</textarea
        >
        <br />
        {% if post %}
        <div class="photo">
          <p>Aktualne zdjęcie:</p>
          <br />
          <img
            src="{{ post.img_url }}"
            alt="Photo-{{ post.id }}"
            style="border-radius: 8px; height: 200px"
          />
        </div>
        <br />
        {% endif %}

        <p class="file">Zdjęcie(max. 8MB):</p>
        <input id="file" type="file" name="file" accept=".jpg, .png" />
        <label for="file"
          ><div class="fileDiv">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-image"
              viewBox="0 0 16 16"
            >
              <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
              <path
                d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"
              />
            </svg>
            <p id="fileName"></p></div></label
        ><br />

        <label for="content">Treść:</label><br />
        <div id="editor">{% if post %}{{post.content}}{% endif %}</div>
        <br />

        <textarea id="content" name="content" style="display: none"></textarea>

        <button id="addButton" class="button" type="submit">
          Zaaktualizuj
        </button>
      </form>
    </div>
    <div id="info" hx-on::after-swap="hideContent()"></div>
    <div class="space"></div>

    <!-- Podłączanie Quill z CDN -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />

    <!-- Inicjalizacja Quill -->
    <script>
      var quill = new Quill("#editor", {
        theme: "snow",
      })

      var form = document.getElementById("createForm")
      var hiddenInput = document.getElementById("content")

      form.onsubmit = function () {
        // Ustaw zawartość pola tekstowego na zawartość edytora Quill
        hiddenInput.value = quill.root.innerHTML
      }
      const input = document.getElementById("file")
      const fileNameDisplay = document.getElementById("fileName")
      input.addEventListener("change", function (event) {
        const file = event.target.files[0]
        fileNameDisplay.textContent = file ? file.name : ""
      })
      function hideContent() {
        setTimeout(function () {
          document.getElementById("info").textContent = ""
        }, 2000) // Ukryj zawartość po 2 sekundach
      }
    </script>
  </body>
</html>
