{% extends "base.html" %} {% set active_page = 'links' %} {% block content %}

<h2 class="pageHeading">Ważne linki</h2>

<div class="links">
  <div>
    <a href="https://haveibeenpwned.com" target="_blank">Have I Been Pwned?</a>
    <p>
      Strona, która pozwala sprawdzić, czy Twoje dane zostały ujawnione w wyniku
      wycieku.
    </p>
  </div>
  <div>
    <a href="https://www.cert.pl" target="_blank">CERT Polska</a>
    <p>
      Zespół reagowania na incydenty komputerowe, oferujący analizy i porady.
    </p>
  </div>
  <div>
    <a href="https://niebezpiecznik.pl" target="_blank">Niebezpiecznik</a>
    <p>Serwis informacyjny o bezpieczeństwie IT i prywatności.</p>
  </div>
  <div>
    <a href="https://sekurak.pl" target="_blank">Sekurak</a>
    <p>
      Strona poświęcona bezpieczeństwu IT, zawierająca artykuły, poradniki i
      aktualności.
    </p>
  </div>
  <div>
    <a
      href="https://www.avast.com/pl-pl/random-password-generator"
      target="_blank"
      >Avast Random Password Generator</a
    >
    <p>Generowanie bezpiecznych haseł online.</p>
  </div>
  <div>
    <a href="https://zaufanatrzeciastrona.pl" target="_blank"
      >Zaufana Trzecia Strona</a
    >
    <p>Blog i serwis informacyjny o cyberbezpieczeństwie.</p>
  </div>
  <div>
    <a href="https://cyberdefence24.pl" target="_blank"
      >Fundacja Bezpieczna Cyberprzestrzeń</a
    >
    <p>Fundacja zajmująca się bezpieczeństwem cyberprzestrzeni i edukacją.</p>
  </div>
  <div>
    <a href="https://bezpieczniwsieci.edu.pl" target="_blank"
      >Bezpieczni w Sieci</a
    >
    <p>Inicjatywa edukacyjna na temat bezpieczeństwa w sieci.</p>
  </div>
  <div>
    <a href="https://www.uodo.gov.pl" target="_blank">UODO</a>
    <p>Urząd Ochrony Danych Osobowych, porady i informacje prawne.</p>
  </div>
  <div>
    <a href="https://www.kaspersky.com.pl" target="_blank"
      >Kaspersky Threat Intelligence Portal</a
    >
    <p>Informacje o zagrożeniach cybernetycznych i narzędzia do analizy.</p>
  </div>
</div>

{% endblock %}
