{% extends "base.html" %} {% set active_page = 'map' %} {% block content %}
<h3 style="margin: 50px 0px 50px 0px">Mapa Ataków</h3>
<div class="attack-map">
  <ul class="map-ul">
    <li
      hx-get="/map-actor-country"
      hx-target="#map"
      hx-trigger="click"
      hx-swap="outerHTML"
      hx-on="click: this.classList.add('active'); this.parentElement.querySelectorAll('li').forEach(el => { if (el !== this) el.classList.remove('active'); })"
      class="map-item active"
    >
      Kraje atakujące
    </li>
    <li
      hx-get="/map-motive"
      hx-target="#map"
      hx-trigger="click"
      hx-on="click: this.classList.add('active'); this.parentElement.querySelectorAll('li').forEach(el => { if (el !== this) el.classList.remove('active'); })"
      hx-swap="outerHTML"
      class="map-item"
    >
      Motywy ataków
    </li>
    <li
      hx-get="/map-type"
      hx-target="#map"
      hx-trigger="click"
      hx-on="click: this.classList.add('active'); this.parentElement.querySelectorAll('li').forEach(el => { if (el !== this) el.classList.remove('active'); })"
      hx-swap="outerHTML"
      class="map-item"
    >
      Typy ataków
    </li>
  </ul>

  <iframe
    id="map"
    src="/static/map/map-actor-country.html"
    width="80%"
    height="500px"
  ></iframe>
</div>
{% endblock %}
