{% extends "base.html" %} {% set active_page = 'news' %} {% block content %}
    <h2 class="pageHeading">Aktualności</h2>
    <div class="gridContainer">
      {% for post in posts %}
      <a href="/news/{{post.id}}">
        <article id="post-{{ post.id }}" class="postRow">
          <img src="{{ post.img_url }}" alt="Photo-{{ post.id }}" />
          <div class="linkClick">
            <div class="newsTitle">{{ post.title }}</div>
            <hr />
            <p class="time-cell">{{ post.created_at}}</p>
            <div class="newsContent"> {{ post.content | safe }}</div>
          </div>
        </article>
      </a>
      {% endfor %}
    </div>
    <nav data-pagination>

      {% if actual_page > 1  %}
      <a href="/news/page-{{ actual_page - 1 }}"><i class="ion-chevron-right"><</i></a>
      {% endif %}

      <ul>
        	<li {% if actual_page == 1 %} class="current" {% endif %}><a href="/news/page-1" >1</a></li>
		{% if pages > 6 %}
			{% if actual_page >= 4 and actual_page <= (pages-3) %}
				<li><p>…</p></li>
				<li><a href="/news/page-{{ actual_page - 1 }}"">{{ actual_page - 1 }}</a></li>
        			<li class="current" ><a  href="/news/page-{{ actual_page }}" >{{ actual_page }}</a></li>
				<li><a href="/news/page-{{ actual_page + 1 }}">{{ actual_page + 1 }}</a></li>
        			<li><p>...</p></li>
        			<li><a href="/news/page-{{ pages }}">{{ pages }}</a></li>
			{% endif %}
			{% if actual_page < 4 %}
   				<li {% if actual_page == 2 %} class="current" {% endif %}><a href="/news/page-2">2</a></li>
        			<li {% if actual_page == 3 %} class="current" {% endif %}><a  href="/news/page-3" >3</a></li>
				<li {% if actual_page == 4 %} class="current" {% endif %}><a href="/news/page-4">4</a></li>
				<li><p>...</p></li>
        			<li><a href="/news/page-{{ pages }}">{{ pages }}</a></li>
      {% endif %}
			{% if actual_page > (pages - 3) %}
				<li><p>...</p></li>
        <li {% if actual_page == (pages - 3) %} class="current" {% endif %}><a href="/news/page-{{ pages - 3 }}">{{ pages - 3 }}</a></li>
   				<li {% if actual_page == (pages - 2) %} class="current" {% endif %}><a href="/news/page-{{ pages - 2 }}">{{ pages - 2 }}</a></li>
        			<li {% if actual_page == (pages - 1) %} class="current" {% endif %}><a  href="/news/page-{{ pages - 1 }}">{{ pages - 1 }}</a></li>
				<li {% if actual_page == pages %} class="current" {% endif %}><a href="/news/page-{{ pages }}">{{ pages }}</a></li>
			{% endif %}
		{% endif %}
		{% if pages > 1 and pages <= 6%}
			{% for page in range(pages - 2) %}
				<li {% if (page + 2) == actual_page %} class="current" {% endif %}><a href="/news/page-{{ page + 2 }}">{{ page + 2}}</a></li>
			{% endfor %}	
      <li {% if actual_page == pages %} class="current" {% endif %}><a href="/news/page-{{ pages }}">{{ pages }}</a></li>
		{% endif %}		
      </ul>
		{% if actual_page < pages %}
			<a href="/news/page-{{ actual_page + 1 }}"><i class="ion-chevron-right">></i></a>
		{% endif %}	
    

    </nav>
 {% endblock %}