<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bezpieczni</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='css/style.css') }}"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
    </style>
    <script
      defer
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <h1 class="mainPage"><a href="/">Bezpieczni</a></h1>
      <div class="menu">
        <a href="/cyberattacks">Cyber Ataki</a>
        <a href="/news/page-1" id="activeLink">Aktualności</a>
        <a href="/analysis">Analiza</a>
        <a href="/map">Mapa</a>
        <a href="/links">Linki</a>
      </div>
    </header>
    <div class="space"></div>
    <h2 class="newsHeading">Aktualności</h2>
    <div class="gridContainer">
      {% for post in posts %}
      <a href="/news/{{post.id}}">
        <article id="post-{{ post.id }}" class="postRow">
          {% for photo, post_id in photos %} {% if post_id == post.id %}
          <img src="data:image/jpeg;base64,{{ photo }}" alt="Photo" />
          {% endif %} {% endfor %}
          <div class="linkClick">
            <div class="newsTitle">{{ post.title }}</div>
            <hr />
            <p class="time-cell">{{ post.created_at}}</p>
            <span class="newsContent"> {{ post.content | safe }}</span>
          </div>
        </article>
      </a>
      {% endfor %}
    </div>
    <nav data-pagination>

      {% if actual_page > 1  %}
      <a href="/news/page-{{ actual_page - 1 }}"><i class="ion-chevron-right"><</i></a>
      {% endif %}

      <ul>
        	<li {% if actual_page == 1 %} class="current" {% endif %}><a href="/news/page-1" >1</a></li>
		{% if pages > 6 %}
			{% if actual_page >= 4 and actual_page <= (pages-3) %}
				<li><p>…</p></li>
				<li><a href="/news/page-{{ actual_page - 1 }}"">{{ actual_page - 1 }}</a></li>
        			<li class="current" ><a  href="/news/page-{{ actual_page }}" >{{ actual_page }}</a></li>
				<li><a href="/news/page-{{ actual_page + 1 }}">{{ actual_page + 1 }}</a></li>
        			<li><p>...</p></li>
        			<li><a href="/news/page-{{ pages }}">{{ pages }}</a></li>
			{% endif %}
			{% if actual_page < 4 %}
   				<li {% if actual_page == 2 %} class="current" {% endif %}><a href="/news/page-2">2</a></li>
        			<li {% if actual_page == 3 %} class="current" {% endif %}><a  href="/news/page-3" >3</a></li>
				<li {% if actual_page == 4 %} class="current" {% endif %}><a href="/news/page-4">4</a></li>
				<li><p>...</p></li>
        			<li><a href="/page-{{ pages }}">{{ pages }}</a></li>
      {% endif %}
			{% if actual_page > (pages - 3) %}
				<li><p>...</p></li>
        <li {% if actual_page == (pages - 3) %} class="current" {% endif %}><a href="/news/page-{{ pages - 3 }}">{{ pages - 3 }}</a></li>
   				<li {% if actual_page == (pages - 2) %} class="current" {% endif %}><a href="/news/page-{{ pages - 2 }}">{{ pages - 2 }}</a></li>
        			<li {% if actual_page == (pages - 1) %} class="current" {% endif %}><a  href="/news/page-{{ pages - 1 }}">{{ pages - 1 }}</a></li>
				<li {% if actual_page == pages %} class="current" {% endif %}><a href="/news/page-{{ pages }}">{{ pages }}</a></li>
			{% endif %}
		{% endif %}
		{% if pages > 1 and pages <= 6%}
			{% for page in range(pages - 2) %}
				<li {% if (page + 2) == actual_page %} class="current" {% endif %}><a href="/news/page-{{ page + 2 }}">{{ page + 2}}</a></li>
			{% endfor %}	
      <li {% if actual_page == pages %} class="current" {% endif %}><a href="/news/page-{{ pages }}">{{ pages }}</a></li>
		{% endif %}		
      </ul>
		{% if actual_page < pages %}
			<a href="/news/page-{{ actual_page + 1 }}"><i class="ion-chevron-right">></i></a>
		{% endif %}	

    </nav>
    <script defer>
      function truncateContent(content, maxLength) {
        if (content.length > maxLength) {
          return content.substring(0, maxLength) + "..."
        } else {
          return content
        }
      }

      // Znajdź wszystkie elementy .newsContent
      var newsContents = document.querySelectorAll(".newsContent")

      // Iteruj przez każdy element .newsContent i skróć zawartość
      newsContents.forEach(function (newsContent) {
        var content = newsContent.textContent
        var truncatedContent = truncateContent(content, 150)
        newsContent.textContent = truncatedContent
      })

      var newsTitles = document.querySelectorAll(".newsTitle")

      // Iteruj przez każdy element .newsContent i skróć zawartość
      newsTitles.forEach(function (newsTitle) {
        var title = newsTitle.textContent
        var truncatedTitle = truncateContent(title, 72)
        newsTitle.textContent = truncatedTitle
      })

      function formatTime(timeStr) {
        return timeStr.substring(0, 16)
      }

      document.addEventListener("DOMContentLoaded", function () {
        let timeCells = document.querySelectorAll(".time-cell")
        timeCells.forEach(function (cell) {
          cell.textContent = formatTime(cell.textContent)
        })
      })
    </script>
  </body>
</html>
